params {
    run_name = "exp12"
    workspace_dir = "y:/Jonathan/Ian_lab_work/epi2me_wasapp"
    pod5_dir = "../input/pod5"
    dorado_model_path = "../input/packages/dorado-1.4.0-linux-x64/models/dna_r10.4.1_e8.2_400bps_sup@v5.2.0"
    kit_name = "SQK-NBD114-96"
    min_qscore = 10
    primer_files_dir = "../input/primer_files"
    threads = 8
    notebooklm_exec = "notebooklm"

    help = false
}

profiles {
    standard {
        process.executor = 'local'
    }
}

manifest {
    name            = 'the2ndplague/Wasapp'
    author          = 'Jonathan'
    description     = 'EPI2ME wrapper for wasapp pipeline'
    mainScript      = 'main.nf'
    version         = '1.0.0'         // MUST be x.y.z format
    nextflowVersion = '!>=22.10.0'
}
