//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

params {
    // Boilerplate options
    outdir                     = 'output'
    publish_dir_mode            = 'copy'
    email                       = null
    email_on_fail               = null
    plaintext_email             = false
    monochrome_logs             = false
    hook_url                    = null
    help                        = false
    version                     = false
    validate_params             = true
    show_hidden_params          = false
    schema_ignore_params        = false

    // Consensus options
    ref                         = "${projectDir}/resources/reference_fastas/virus_family_references.fasta"
    depth                       = 20
    mappingQ                    = 15
    baseQ                       = 20 // Is this actually getting used? It seems high...
    max_len                     = 1500
    min_len                     = 100
    trim_len                    = 30
    read_count                  = 50
    parse_all                   = false

    // kraken2 & krona options
    individual_krona            = false

    // Containers
    viral_db                    = "dmmalone/kraken2_krona:viral_0.0.1"
    viral_db_sha                = "sha256:08bafb9507405a7a3bbf687b626404f0b553757d7847650ee16480f0a7e2a883"
    viral_db_url                = "https://hub.docker.com/layers/dmmalone/kraken2_krona/viral_0.0.1/images/sha256-08bafb9507405a7a3bbf687b626404f0b553757d7847650ee16480f0a7e2a883"

    consensus_func              = "community.wave.seqera.io/library/bcftools_chopper_minimap2_samtools_pruned:2f3692888e20e16d"
    consensus_func_sha          = "sha256:b2fbacbe5e93e8827c3d61b86859f9bb1d69db78ada6ee0a794c5c15f0afd701"
    consensus_func_url          = "https://wave.seqera.io/view/builds/bd-2f3692888e20e16d_1"

    //misc
    aphorisms                   = "${projectDir}/resources/misc/Aphorisms_to_live_by.txt"


    wf {
          example_cmd = [
              "--fastq test_data/barcode01/reads.fastq.gz",
          ]
          agent = null
        }
}


manifest {
    name            = 'Desperate-Dan/WaSPPipe'
    author          = 'Daniel Maloney'
    contributors    = [
        [
            name: 'Daniel Maloney',
            affiliation: 'UoE',
            email: 'dmaloney@ed.ac.uk',
            github: 'https://github.com/Desperate-Dan',
            contribution: ['author', 'maintainer'],
        ]
    ]
    homePage        = 'https://github.com/Desperate-Dan/WaSPPipe'
    description     = 'Generate consensus sequences from WW data produced by the WaSPP project.'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '>=23.04.2'
    version         = 'v1.0.1'
}

profiles {
    standard {
        docker {
            enabled = true
        }
    }
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        docker.registry        = 'docker.io'
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        podman.registry        = 'quay.io'
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    shifter {
        shifter.enabled        = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 16
        executor.memory        = 60.GB
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}


// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    overwrite = true
    file    = "output/execution/timeline.html"
}
report {
    enabled = true
    overwrite = true
    file    = "output/execution/report.html"
}
trace {
    enabled = true
    overwrite = true
    file    = "output/execution/trace.txt"
}
dag {
    enabled = true
    overwrite = true
    file    = "output/execution/pipeline_dag.html"
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
